.popup__input-error {
  visibility: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: red;
}

.popup__input-error_active {
  color: red;
  visibility: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: red;
}

