.popup__input {
  border-style: none;
  margin: 0px 36px 30px 36px;
  border-bottom: 1px solid rgb(0%, 0%, 0%, 20%);
  padding: 0px 0px 10px 0px;
}
/*
.popup__input:invalid {
  border-bottom: 1px solid red;
}*/

@media all and (max-width: 440px) {
  .popup__input {
    margin: 0px 22px 30px 22px;
  }
}
