.header {
    width: calc(100% - 2 * 200px);
    max-width: 880px;
    margin: 0px auto;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
    padding-bottom: 41px;
}

@media all and (max-width: 1024px) {
  .header {
    width: calc(100% - 2 * 80px);
    max-width: 600px;
  }
}

@media all and (max-width: 768px) {
  .header {
    width: calc(100% - 2 * 30px);
    max-width: 4500px;
  }
}

@media all and (max-width: 321px) {
  .header {
    width: calc(100% - 2 * 27px);
    margin: 3px;
    padding-top: 28px;
  }
}
