.elements {
  max-width: 880px;
  width: calc(100% - 2 * 200px);
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 282px));
  column-gap: 17px;
  row-gap: 20px;
}

@media all and (max-width: 320px) {
  .elements {
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, 1fr);
    margin: 0px 19px 0px 19px;
  }
}
