.form__input-error {
  visibility: hidden;
}

.form__input-error_active {
  visibility: visible;
  min-height: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: red;
  margin: 5px auto 0px 36px;
  position: absolute;
  top: 140px;
  right: -19px;
}

.form__input-error:last-of-type {
  top: 199px;
  right: 13px;
}

@media all and (max-width: 440px) {
  .form__input-error_active {
    margin:  5px 22px 5px 22px;
  }
}
