.popup__close-button {
  position: absolute;
  top: 156px;
  left: 937px;
  background-color: transparent;
  border-style: none;
  border-radius: 2px;
  top: -48px;
  right: -48px;
}

@media all and (max-width: 320px) {
  .popup__close-button {
    top: 156px;
    left: 857px;
    width: 100%;
}
}
