.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 1fr;
  grid-template-areas:
  'profile__name profile__edit-button'
  'profile__job .';
  column-gap: 18px;
  row-gap: 16px;
  max-width: 336px;
  align-self: center;
}
