.element {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  'element__foto element__foto element__foto'
  'element__title element__title element__like';
  border-radius: 5%;
  background-color: white;
  color: black;
}

@media all and (max-width: 320px) {
  .element {
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, 1fr);
}
